<div class="col-md-6">
<table class="table1">
<tbody class="notes" >
            <div>
              <br>
      <tr ng-repeat="note in notelist" class="coloane">
                <td id="tabSticky" ng-click="details(note._id)" ng-if="$even">
                      
                              <ul>
		                      	<li id="hover">
					      <a class="nounderline">
					            <span id="notes" style="color:blue" >{{note.title}}</span>
                                          <p id="notes">{{note.text}}</p>
                                     </a>
			                  </li>
	                  	</ul>
                  </td>
            </tr>
 </div>
        </tbody>
 </table>
 </div>
 <div class="col-md-6">
<table class="table1">
        <tbody class="notes">
            <div>
              <br>
              <tr ng-repeat="note in notelist" class="coloane" >
                <td id="tabSticky" ng-click="details(note._id)" ng-if="$odd" >
                 <div >
                       <ul >
		                      	<li id="hover">
					                       <a class="nounderline">
                                  <span   id="notes" style="color:blue" >{{note.title}}</span>
                                  <p id="notes" rows="5">{{note.text}}</p>
                                  </a>
			                       </li>
	                  	</ul>
                  </td>
            </tr>
          </div>
        </tbody>
 </table>
 </div>
